@import url(./normalize.css);

:root {
  --color-primary: #be123c;
  --color-primary-one: rgba(190, 18, 60, 0.1);
  --color-body-light: #9ca3af;
  --color-body: #111427;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-body);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
  max-width: 60ch;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.text-md {
  font-size: 1.7rem;
  margin-bottom: 0;
  color: var(--color-body);
}

.text-lg {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-body);
}

.text-base {
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: var(--color-body);
}

.text-sm {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-body);
}

.text-bold {
  font-weight: bold;
}

.text-xs {
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--color-body-light);
}

/* Spacing */
.mb-1 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2.6rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mr-5 {
  margin-right: 2.8rem;
}

.mr-3 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.ml-3 {
  margin-right: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.p-1 {
  padding: .5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3.5rem;
}

.flex {
  display: flex;
}

.simple-flex {
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 15%;
  min-width: 200px;
  height: 100vh;
  border: 1px solid var(--color-body-light);
  border-radius: 0 3rem 3rem 0;
  /* position: fixed; */
}

.container {
  gap: 3rem;
  justify-content: space-between;
  width: 100%;
}

/* Links */
a {
  text-decoration: none;
}

a::after {
  content: ">";
  margin-left: 12px;
}

/* Buttons */
.btn {
  background: none;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Inputs */

.input {
  border: none;
  color: #fff;
  font-size: 1.2rem;
  outline: 0;
}

.text-left {
  text-align: left;
}

::placeholder {
  color: #eee;
}

.icon {
  width: 30px;
  height: 30px;
}

.nav_items {
  padding-left: 0;
  list-style-type: none;
}

.nav_link {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
}

.nav_link p {
  margin-bottom: 0;
}

.nav_link svg {
  width: 25px;
  /* width: 30px; */
}

.nav_items {
  margin-top: 5rem;
}

.active {
  color: var(--color-primary);
  background-color: var(--color-primary-one);
}